# emacs artifacts
*~

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# private env files
**/*.env

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mac files
**/.DS_Store

# users file
**/api-middleware-sap-users.yml

# sql dumps
**/*.sql*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/